<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/log-reg.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,300&family=Roboto:ital,wght@0,400;0,700;0,900;1,700&display=swap');
    </style>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
     integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
     crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Register</title>
</head>

<body>

    <header class="main-header">

        <section class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo">

            <div class="buscador"><input type="text" placeholder="Buscar productos, marcas">
                <i class="fa-solid fa-magnifying-glass"></i></input>
            </div>

            <p class="texto-header"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de
                crédito</p>
        </section>

        <nav class="main-navbar">

            <ul class="left-navbar">
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <br>
            <ul class="right-navbar">
                <li>Creá tu cuenta <i class="fa-solid fa-id-card"></i></li>
                <li>Ingresá <i class="fa-solid fa-right-to-bracket"></i></li>
                <li>Mis compras <i class="fa-solid fa-bag-shopping"></i></li>
            </ul>

        </nav>

        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>

    </header>

    <section class="formulario">
        <div class="contenedor-form"><label>Nombre y apellido: </label>
            <input type="text" name="nombre">
        </div>

        <div class="contenedor-form"><label>Nombre de usuario:</label>
            <input type="text" name="usuario">
        </div>

        <div class="contenedor-form"><label>Fecha de nacimiento:</label>
            <input type="date" name="fechanacimiento">
        </div>

        <div class="contenedor-form"><label>Domicilio: </label>
            <input type="text" name="domicilio">
        </div>

        <div class="contenedor-form"><label>Quiero:</label>
            <input type="radio" name="perfilusuario" value="comprador">Comprar</input>
            <input type="radio" name="perfilusuario" value="vendedor">Vender</input>
        </div>

        <div class="contenedor-form"><label>Categorías de interés: </label>
            <input type="checkbox" name="categorias" value="electro">Electro</input>
            <input type="checkbox" name="categorias" value="moda">Moda</input>
            <input type="checkbox" name="categorias" value="hogar">Hogar</input>
            <input type="checkbox" name="categorias" value="jugueteria">Juguetería</input>
            <input type="checkbox" name="categorias" value="vidasana">Vida sana</input>
        </div>

        <div class="contenedor-form"><label>Subí tu imagen de perfil!</label>
            <input type="file" name="imagendeperfil" accept=".jpg, .png">
        </div>

        <div class="contenedor-form"><label>Contraseña: </label><input type="password" name="password"></div>
        <div class="contenedor-form"><label>Confirmá tu contraseña: </label><input type="password" name="password"></div>

        <div class="botones"><button type="reset" class="button-form">Borrar</button>
            <button type="submit" class="button-form">Enviar</button>
        </div>


    </section>
</body>

</html>